@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Fasthand&family=Roboto+Slab:wght@600&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: lightskyblue;
    /*width: 200px;*/
    font-family: 'Fira Sans', sans-serif;
    height: 150vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: lightblue; */
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: red; */
    height: 60vh;
    width: 80vw;
    margin: 50px 0;
    margin-left: 70px;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    margin: 10px 0;
}

.hello {
    font-size: 60px;

}

.name {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}

.about {
    font-size: 25px
}

.moreabout {
    font-size: 20px;
    margin: 40px 0;
    font-family: 'Source Code Pro', monospace;

}

.btn {
    padding: 10px 15px;
    border-radius: 22px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover {
    background-color: white;
    color: blue;
}

.devpic img {
    height: 58vh;
}

.contactform {
    padding: 0 34px;
    padding-top: 100px;
    font-family: 'Roboto Slab', serif;
    margin: -30px 50px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
    font-size: 20px;
}

#emailHelp {
    font-size: 10px;
    color: Green;
    margin: 0px 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.serviceItem {
    margin: 20px;
    font-family: 'Source Code Pro', monospace;
}

.serviceContainer{
    margin: 60px ;
}


.blogItem {
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
}

.blogContainer{
    margin: 30px 100px;
}

.blogContainer h1 {
    font-family: 'Source Code Pro', monospace;
    margin: 23px;
}

.blogItem p {
    font-family: 'Roboto Slab', serif;

}

.h1 {
    margin: 20px;
    font-size: 10px;
    font-family: 'Source Code Pro', monospace;

}

.p {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
}

.intro{
    margin: 10px 88px;
}

.intro h2 {
    font-family: 'Source Code Pro', monospace;
    margin: 0 12px;
}

.intro p {
    font-family: 'Roboto Slab', serif;
    margin: 0 12px;
}

.skillcontainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-family: 900;
}

.skill {
    width: 200px;
    height: 5px;
    background-color: red;
    border: 2px solid black;
}

.hundred {
    width: 265px;
    background-color: bisque;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: yellowgreen;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
   

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 120px;
    margin-top: 5px;
}

@media (max-width: 12450px) {
   /* {
     background-color: red;
    } */
    .devPic{
        display: flex;
    }

   /*.sidebar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
} 
